<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3">
            <a [routerLink]="['/organization','Roles','Create']" [routerLinkActive]="['link-active']"
                class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <span>Organization Roles</span>
            </a>
        </div>
        <div class="list-group list-group-flush mx-3">
            <a [routerLink]="['/organization','Employee']" [routerLinkActive]="['link-active']"
                class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <span>Employee List</span>
            </a>
        </div>
        <div class="list-group list-group-flush mx-3">
            <a [routerLink]="['/organization','Trips','Schedule']" [routerLinkActive]="['link-active']"
                class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <span>Schedule Trip</span>
            </a>
        </div>
    </div>
</nav>
<!-- Sidebar -->