@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,400;0,800;1,100;1,400&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
  --primaryColor: #fafafa;
  --secondaryColor: #008cff;
}

.color-white {
  color: white !important;
}

.color-default {
  color: var(--secondaryColor);
}

.invalid-feedback>div {
  color: var(--bs-danger-rgb);
}

.bi,
i {
  /* color: var(--secondaryColor) !important; */
  font-size: larger;
}

.form-group {
  margin: 5px 0;
}

.ag-header {
  background-color: var(--primaryColor) !important;
}

.ag-theme-alpine {
  width: 100%;
  height: 500px
}

body {
  overflow-y: clip;
  width: 100vw !important;
  font-family: 'Exo', sans-serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

h3 {
  font-size: 25px !important;
}

.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {

  font-family: 'Exo', sans-serif !important;
}

* {
  font-family: 'Exo', sans-serif !important;
}

.mat-form-field {
  width: 100%;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

.ag-icon {
  font-family: var(--ag-icon-font-family) !important;
}

.ag-theme-alpine .ag-header-row,
.ag-theme-alpine .ag-header-row .ag-icon,
/* .ag-paging-panel ,
.ag-paging-panel .ag-icon */
.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary,
.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  color: white;
  background-color: #008cff !important;
}