<form [formGroup]="Form">
    <div class="row">
        <div class="col-md-4">
            <mat-checkbox class="example-margin" formControlName="office"
                [ngClass]="{'is-invalid':f.office.touched && f.office.errors}" name="office" id="office"
                color="primary">Office</mat-checkbox>
        </div>
        <div class="col-md-4">
            <mat-checkbox class="example-margin" formControlName="outStations"
                [ngClass]="{'is-invalid':f.outStations.touched && f.outStations.errors}" name="outStations"
                id="outStations" color="primary">Out Station</mat-checkbox>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Vehicle Type</mat-label>
                <mat-select placeholder="Vehicle Type" formControlName="vehicleType"
                    [ngClass]="{'is-invalid':f.vehicleType.touched && f.vehicleType.errors}" name="vehicleType"
                    id="vehicleType" required>
                    <mat-option *ngFor="let item of VehicleTypes"
                        [value]="item.value">{{item.valueDescription}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f.vehicleType.hasError('required')">Please choose Vehicle Type</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Passenger Email Id</mat-label>
                <input type="text" matInput placeholder="name@company.com" formControlName="passengerEmailId"
                    [ngClass]="{'is-invalid':f.passengerEmailId.touched && f.passengerEmailId.errors}"
                    id="passengerEmailId" required [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.email}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.passengerEmailId.errors?.required">Passenger Email Id is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Passenger Name</mat-label>
                <input matInput placeholder="John Doe" formControlName="passengerName"
                    [ngClass]="{'is-invalid':f.passengerName.touched && f.passengerName.errors}" name="passengerName"
                    id="passengerName" required>
                <mat-error *ngIf="f.passengerName.errors?.required">Passenger Name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" floatLabel="auto">
                        <mat-label>Pick Up Date</mat-label>
                        <input matInput [matDatepicker]="pickupDatePicker" formControlName="pickupDate" id="pickupDate"
                            [ngClass]="{'is-invalid':f.pickupDate.touched && f.pickupDate.errors}" required />

                        <mat-datepicker-toggle matSuffix [for]="pickupDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #pickupDatePicker></mat-datepicker>

                        <mat-error *ngIf="f.pickupDate.errors?.required">
                            Pick Up Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" floatLabel="auto">
                        <mat-label>Pick Up Time</mat-label>
                        <input matInput formControlName="pickupTime" id="pickupTime"
                            [ngClass]="{'is-invalid':f.pickupTime.touched && f.pickupTime.errors}" required />

                        <mat-error *ngIf="f.pickupTime.errors?.required">
                            Pick Up Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" floatLabel="auto">
                        <mat-label>Est. Drop Date</mat-label>
                        <input matInput [matDatepicker]="dropDatePicker" formControlName="dropDate" id="dropDate"
                            [ngClass]="{'is-invalid':f.dropDate.touched && f.dropDate.errors}" required />

                        <mat-datepicker-toggle matSuffix [for]="dropDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dropDatePicker></mat-datepicker>

                        <mat-error *ngIf="f.dropDate.errors?.required">
                            Est. Drop Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" floatLabel="auto">
                        <mat-label>Est. Drop Time</mat-label>
                        <input matInput formControlName="dropTime" id="dropTime"
                            [ngClass]="{'is-invalid':f.dropTime.touched && f.dropTime.errors}" required />

                        <mat-error *ngIf="f.dropTime.errors?.required">
                            Pick Up Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="pickUpAddress my-5">
        <h5>Pick Up Address</h5>
        <shared-address [(AddressForm)]="pickUpAddressForm"></shared-address>
    </div>
    <div class="dropAddress my-5">
        <h5>Drop Address</h5>
        <shared-address [(AddressForm)]="dropAddressForm"></shared-address>
    </div>

    <div class="actions">
        <div class="d-flex justify-content-between">
            <div class="">
                <mat-checkbox class="example-margin" color="primary">
                    Schedule for Multiple Dates <br>
                    <small>(Only Applicable for Office Travels)</small>
                </mat-checkbox>
            </div>
            <div class="btnGrp">
                <button type="button" mat-raised-button color="warn">Cancel</button>
                <button type="button" (click)="onSaveAsDraft()" mat-raised-button color="accent">Save as Draft</button>
                <button type="button" mat-raised-button color="primary">Submit for Approval</button>
            </div>
        </div>
    </div>
</form>