<div class="container">
    <mat-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="OrganizationForm" label="Organization Details">
            <form [formGroup]="OrganizationForm">
                <div class="row my-3">
                    <div class="col-md-8 my-3">
                        <label for="OrganizationForm">Organization Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Name of your Organization"
                            formControlName="name" name="name" id="name"
                            [ngClass]="{'is-invalid':form.name.touched && form.name.errors}">

                        <div *ngIf="form.name.touched && form.name.errors" class="invalid-feedback">
                            <div *ngIf="form.name.errors.required" class="text-danger">
                                Organization Name is required
                            </div>
                            <div *ngIf="form.name.errors.maxlength" class="text-danger">Max Length
                                is 200
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 my-3">
                        <label for="gstNumber">GST Number<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="GST Number Of your Organization"
                            formControlName="gstNumber" name="gstNumber" id="gstNumber"
                            [ngClass]="{'is-invalid':form.gstNumber.touched && form.gstNumber.errors}">

                        <div *ngIf="form.gstNumber.touched && form.gstNumber.errors" class="invalid-feedback">
                            <div *ngIf="form.gstNumber.errors.required" class="text-danger">
                                GST Number is required
                            </div>
                            <div *ngIf="form.gstNumber.errors.maxlength" class="text-danger">Max Length is 200
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="AddressForm" label="Organization Address Details">
            <shared-address [IsAdmin]="true" [(AddressForm)]="AddressForm"></shared-address>
            <div>
                <button mat-raised-button color="accent" class="me-2" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="AdminDetailsForm" label="Organization Admin Details">
            <form [formGroup]="AdminDetailsForm">
                <organization-create-employee [(EmployeeForm)]="AdminDetailsForm"
                    [IsAdmin]="true"></organization-create-employee>
                <div>
                    <button mat-raised-button color="accent" class="me-2" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="OnSubmit()">Submit</button>
                </div>
            </form>

        </mat-step>
    </mat-stepper>
</div>


<style>
    .mat-stepper-horizontal {
        margin-top: 8px;
    }

    .mat-mdc-form-field {
        margin-top: 16px;
    }
</style>