@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    padding: 15px 0 0;
    width: 225px;
    height: 100%;
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor);
    border-right: 1px solid rgba(0, 0, 0, .12)
}

.sidebar * {
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor);
}

.sidebar .active {
    border-radius: 5px;
}
